@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

h2 {
  font-family: 'Roboto Slab', serif;

  margin-left: 50px;

}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}


form {
  max-width: 250px;
  margin: 10px auto;
  padding: 10px 20px;
  border: 32px solid #FACB85;
  background: #FACB85;
  width: 300px;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #97a1a1, -20px -20px 60px #ffffff;
}

body {
  background-color: #CFDDDD;
}

div.container {
  margin-top: 40px;

}

input {
  font-family: 'Poppins', sans-serif;
  width: 220px;
  border-radius: 5px;
  border: 4px double rgb(255, 199, 209);
  color: black;
  background-color: transparent;
  box-shadow: inset 3px 3px 7px #e9bd7c, inset -3px -3px 7px #ffd98e;
  border: var(--quadrary-color) solid 2px;
  padding: 10px;
}

label {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #8ffc46;
  color: white;
  border: var(--quadrary-color) solid 2px;
  color: black;
  font-family: 'Bitter', serif;

}

button:hover {
  transition: 1s;
  background-color: #71f7f7;

}

p {
  color: rgba(12, 11, 65, 0.432);
  font-family: 'Bitter', serif;
  font-size: 17px;
  text-align: center;
}

select {
  font-family: 'Poppins', sans-serif;
  width: 220px;
  border-radius: 5px;
  border: 4px double rgb(255, 199, 209);
  color: black;
  background-color: transparent;
  box-shadow: inset 3px 3px 7px #e9bd7c, inset -3px -3px 7px #ffd98e;
  border: var(--quadrary-color) solid 2px;
  padding: 10px;
}